.particular_hotel{
    overflow: hidden;
}

.particular_hotel .hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.particular_hotel .hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.particular_hotel .bookNow {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    padding: 10px 20px;
    background-color: #3bb19b;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.particular_hotel .hotelTitle {
    font-size: 24px;
}

.particular_hotel .hotelAddress {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.particular_hotel .map {
    font-size: 25px;
  color: #3bb19b;
}
.particular_hotel .hotelDistance {
    color: #3bb19b;
    font-weight: 500;
}

.particular_hotel .hotelPriceHighlight {
    color: #008009;
    font-weight: 500;
}

.particular_hotel .hotelImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.particular_hotel .hotelImgWrapper {
    width: 33%;
    margin: 1px;
}

.particular_hotel .hotelImg {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.particular_hotel .hotelDetails {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.particular_hotel .hotelDetailsTexts {
    flex: 3;
}

.particular_hotel .hotelDesc {
    font-size: 14px;
    margin-top: 20px;
}

.particular_hotel .hotelDetailsPrice {
    flex: 1;
    background-color: #eaf8f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.particular_hotel .hotelDetailsPrice > h1 {
    font-size: 18px;
    color: #555;
}

.particular_hotel .hotelDetailsPrice > span {
    font-size: 14px;
}

.particular_hotel .hotelDetailsPrice > h2 {
    font-weight: 300;
}

.particular_hotel .hotelDetailsPrice > button {
    border: none;
    padding: 10px 20px;
    background-color: #3bb19b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.reservation{
    border: none;
    padding: 10px 20px;
    background-color: #3bb19b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.particular_hotel .slider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 999;
    display: flex;
    align-items: center;
}

.particular_hotel .sliderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.particular_hotel .sliderImg {
    width: 80%;
    height: 80vh;
}

.particular_hotel .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
}

.particular_hotel .arrow {
    margin: 20px;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
}
